/*****************BODY******************/
body {
  font-family: 'Questrial', sans-serif;
  background-color: #f4eaf9; }

/***************************************/
/*****************NAVBAR****************/
nav {
  background-color: #efdff8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px; }
  nav li {
    padding: 1.8rem 1.6rem; }

.navLink {
  position: relative; }
  .navLink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -15px;
    margin: -5px 0;
    background-color: #851370;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s; }
  .navLink:hover:before {
    visibility: visible;
    transform: scaleX(1); }

.navLink {
  display: flex;
  font-size: 1.2em;
  color: #851370; }
  .navLink:hover {
    color: #84589b;
    text-decoration: none;
    transition: all 0.4s; }

.logoBrand {
  min-width: 120px;
  max-width: 140px; }

.navbar-toggler {
  font-size: 2.5rem; }
  .navbar-toggler:focus {
    outline: none; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-toggle::after {
  display: none; }

.dropdown-menu {
  background-color: #efdff8;
  border: none;
  padding-top: 20px; }

.dropdown-item {
  font-size: 1em;
  color: #851370;
  transition: background .25s, box-shadow .15s; }
  .dropdown-item:hover {
    background: rgba(224, 195, 238, 0.623);
    color: #84589b; }

/***************************************/
/****************IMAGES*****************/
#img1 {
  width: 100vw;
  height: 700px; }

#img2 {
  width: 100vw;
  height: 700px; }

.item {
  width: 100%;
  position: relative;
  margin: auto; }
  .item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgba(12, 12, 12, 0.4), rgba(12, 12, 12, 0.4)); }

/***************************************/
/*****************BOXES*****************/
.d-block {
  object-fit: cover;
  margin: auto; }

.main {
  padding-top: 2.5rem; }

.description {
  margin-top: 9rem; }

.boxes {
  height: 32rem;
  background: linear-gradient(180deg, #f4eaf9 50%, #e1c4ef 50%); }

.box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.texto {
  width: 80%;
  height: 15rem;
  background: #f4eaf9;
  border-radius: 0.6rem;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  padding: -20px auto 0px auto;
  margin: 20px auto 0px auto; }

.coments {
  height: 50rem;
  padding-top: 5rem; }

.carouselComent {
  padding-top: 2.5rem; }

.carouselBox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly; }

.carouselText {
  width: 30%;
  height: 20rem;
  background: #e1c4ef;
  border-radius: 0;
  padding: 1.3rem; }

/***************************************/
/*****************TEXTO*****************/
.title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 1.3rem; }

.subtitle {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  font-style: italic; }

.parrafo {
  font-size: 1.1em;
  text-transform: lowercase;
  color: black; }
  .parrafo::first-letter {
    text-transform: uppercase; }

.subtituloBox {
  font-size: 2em;
  text-transform: uppercase;
  color: #812a71;
  padding-top: 0.4em; }

.carouselTitle {
  font-size: 1.2em;
  color: black;
  margin-bottom: 0; }

.carouselParrafo {
  font-size: 1em;
  text-align: left;
  color: black;
  margin-top: 0.7em; }

/***************************************/
/*****************ICONS*****************/
.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 10px; }

.carousel-control-prev {
  width: 1%;
  height: 1%;
  padding-top: 150px; }

.carousel-control-next {
  width: 1%;
  height: 1%;
  padding-top: 150px; }

.bi-star-fill {
  font-size: 0.8em;
  color: #812a71; }

.list-inline-item {
  font-size: 1.1em;
  padding-left: 8px;
  padding-top: 20px; }

.bi-instagram,
.bi-facebook,
.bi-twitter,
.bi-caret-left-fill,
.bi-caret-right-fill {
  color: #812a71; }

/***************************************/
/*****************FOOTER****************/
.footer {
  background-color: #e1c4ef;
  height: 550px;
  min-height: 100px;
  text-align: center; }

.form {
  width: 100%; }

.form-control {
  background-color: #f4eaf9; }
  .form-control:focus {
    background-color: #f4eaf9;
    border-color: #851370;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none; }

.footerText {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px; }

.button {
  background-color: #8c65a1;
  outline: none;
  border: 0;
  color: white;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }
  .button:hover {
    background-color: #851370;
    transition: all 0.4s; }

.titleFooter {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.6em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  text-align: center; }

.tituloParrafo {
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  color: black;
  text-align: left;
  padding-top: 35px; }

.parrafoFooter {
  font-size: 1em;
  color: black;
  text-align: left; }
  .parrafoFooter:hover {
    text-decoration: none;
    color: black; }

.liFooter {
  text-align: left;
  padding-bottom: 17px; }

.border-top {
  border-top: 2px solid #8c65a1 !important;
  margin-top: 70px; }

small {
  font-size: 0.9em;
  color: black;
  padding-right: 8px;
  padding-top: 20px; }

/***************************************/
/**************MEDIA QUERIES************/
@media (max-width: 1280px) and (min-width: 300px) {
  .navLink {
    font-size: 1em; }
  .subtitle {
    text-align: center; }
  .subtituloBox {
    font-size: 1.5em; }
  .parrafo {
    font-size: 0.9em;
    padding: 0.1em; }
  .d-block {
    min-width: 100vh;
    min-height: 400px; } }

@media screen and (max-width: 768px) {
  .boxes {
    height: auto; }
  .d-block {
    min-width: 100vh;
    min-height: 200px; } }

/***************************************/
/***************PRODUCTOS***************/
.titleSecondary {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  text-align: left;
  margin-bottom: 1rem; }

.subtitleSecondary {
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  font-style: italic; }

.locales {
  width: 450px;
  height: 700px;
  object-fit: cover;
  margin: auto; }

.secPrimera {
  padding-top: 4rem; }

.secSegunda {
  padding-top: 4rem;
  padding-bottom: 5rem; }

/*****************BOX*******************/
.mainProduc {
  padding-top: 3rem; }

.descriptionLocales {
  padding-top: 3rem; }

.images {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.imgBox {
  width: 100vh;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-right: 1px solid white; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s ease-in-out; }
  .capa:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.7); }

/***************************************/
/*****************TEXTO*****************/
.imgText {
  font-size: 3em;
  font-family: 'Playfair Display', serif; }

/***************************************/
/****************IMAGES*****************/
.cafeteria,
.hotel,
.catering {
  width: 100%;
  height: 100%; }

/***************************************/
/*****************HISTORIA**************/
/*****************MAIN******************/
.mainHistoria {
  background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)), url("../img/cucuruchoHistoria.jpg");
  background-size: cover;
  width: 100%;
  min-height: 44rem; }

/***************************************/
/*****************BOX*******************/
.main__box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%; }

.main__texto {
  width: 30%;
  height: 100%;
  text-align: right; }

.historia {
  width: 100%;
  height: auto; }

/***************************************/
/*****************TEXTO*****************/
.main__titulo {
  padding: 6rem 9rem 0 0;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5em; }
  .main__titulo::after {
    position: absolute;
    content: '';
    width: 25rem;
    height: 0.1rem;
    background-color: #e1c4ef;
    margin-top: 3rem;
    right: 11rem; }

.main__parrafo {
  padding: 3rem 9rem 0 0;
  font-size: 3.5em;
  color: white; }

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 1280px) and (min-width: 486px) {
  .main__titulo {
    font-size: 0.7em;
    padding-right: 3rem; }
    .main__titulo::after {
      width: 12.5rem;
      right: 4rem; }
  .main__parrafo {
    font-size: 2.5em;
    text-align: right;
    padding-right: 3rem; }
  .main__texto {
    width: 50%;
    height: auto; }
  .historia__texto {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 0.6rem; } }

@media (max-width: 486px) and (min-width: 320px) {
  .main__titulo {
    font-size: 0.6em;
    padding-right: 0.5rem; }
    .main__titulo::after {
      width: 12rem;
      right: 1.5rem; }
  .main__parrafo {
    font-size: 2em;
    text-align: right;
    padding-right: 0.5rem; }
  .main__texto {
    width: 50%;
    height: auto; }
  .historia__texto {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 0.6rem; } }

/***************************************/
/*****************LOCALES***************/
/*****************MAIN******************/
.mainLocales {
  background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)), url("../img/heladoBackground.jpeg");
  background-size: cover;
  width: 100%;
  min-height: 44rem; }

/***************************************/
/*****************SECCION***************/
.mapa {
  margin: 6rem 0 6rem 0; }

iframe {
  margin-top: 2.5rem; }

/***************************************/
/*****************TEXTO*****************/
.subtitulo {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1.9rem;
  color: #812a71; }

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 1280px) and (min-width: 768px) {
  .subtitulo {
    font-size: 1.6em; }
  .mapa {
    text-align: center;
    margin: 1.9rem 0 1.9rem 0; }
  iframe {
    width: 100%;
    height: 25rem; } }

@media (max-width: 768px) and (min-width: 320px) {
  iframe {
    width: 100%;
    height: 19rem; } }

@media (max-width: 540px) and (min-height: 320px) {
  .subtitulo {
    font-size: 1.3em; } }

/***************************************/
/*****************CONTACTO**************/
/*****************MAIN******************/
.contactoBox {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(243, 213, 245, 0.7), rgba(243, 213, 245, 0.7)); }

.contacto {
  background-image: linear-gradient(rgba(243, 213, 245, 0.6), rgba(243, 213, 245, 0.6)), url(../img/contacto.jpeg);
  background-size: cover;
  width: 80%;
  height: 100vh; }

form {
  width: 500px;
  margin-top: 20px; }

fieldset {
  border-color: transparent; }

.inputContainer {
  position: relative;
  margin-bottom: 25px; }
  .inputContainer label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    color: black;
    pointer-events: none;
    transition: all 0.5s ease-in-out; }
  .inputContainer input {
    border: 0;
    border-bottom: 1px solid black;
    background: transparent;
    width: 100%;
    padding: 50px 0 5px 0;
    font-size: 18px;
    color: black; }
    .inputContainer input:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid #84589b; }

.btnEnviar {
  background-color: #8c65a1;
  outline: none;
  border: 0;
  color: white;
  padding: 10px 50px;
  text-transform: uppercase;
  margin-top: 30px;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }

.btnEliminar {
  background-color: #4b255e;
  outline: none;
  border: 0;
  color: white;
  padding: 10px 50px;
  text-transform: uppercase;
  margin-top: 30px;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label {
  top: -18px;
  font-size: 18px; }

/***************************************/
/*****************TEXTO*****************/
.titulo {
  padding: 100px 0 30px 0;
  font-size: 3em;
  color: black; }

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 768px) and (min-width: 320px) {
  .titulo {
    font-size: 1.5em;
    padding-top: 10px; }
  form {
    width: 100%;
    height: auto; }
  button {
    margin: 10px;
    font-size: 10px; } }

/***************************************/
