/*****************BODY******************/
body {
  font-family: 'Questrial', sans-serif;
  background-color: #f4eaf9; }

/***************************************/
/*****************NAVBAR****************/
nav {
  background-color: #efdff8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px; }
  nav li {
    padding: 1.8rem 1.6rem; }

.navLink {
  position: relative; }
  .navLink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -15px;
    margin: -5px 0;
    background-color: #851370;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s; }
  .navLink:hover:before {
    visibility: visible;
    transform: scaleX(1); }

.navLink {
  display: flex;
  font-size: 1.2em;
  color: #851370; }
  .navLink:hover {
    color: #84589b;
    text-decoration: none;
    transition: all 0.4s; }

.logoBrand {
  min-width: 120px;
  max-width: 140px; }

.navbar-toggler {
  font-size: 2.5rem; }
  .navbar-toggler:focus {
    outline: none; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-toggle::after {
  display: none; }

.dropdown-menu {
  background-color: #efdff8;
  border: none;
  padding-top: 20px; }

.dropdown-item {
  font-size: 1em;
  color: #851370;
  transition: background .25s, box-shadow .15s; }
  .dropdown-item:hover {
    background: rgba(224, 195, 238, 0.623);
    color: #84589b; }

/***************************************/
/*****************BOXES*****************/
.mainGeneral {
  margin-top: 10rem; }

.boxes {
  height: 32rem;
  background: linear-gradient(180deg, #f4eaf9 50%, #e1c4ef 50%); }

.box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.texto {
  width: 80%;
  height: 15rem;
  background: #f4eaf9;
  border-radius: 0.6rem;
  box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
  padding: -20px auto 0px auto;
  margin: 20px auto 0px auto; }

.form {
  width: 100%; }

.form-control {
  background-color: #f4eaf9; }
  .form-control:focus {
    background-color: #f4eaf9;
    border-color: #851370;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none; }

.button {
  background-color: #8c65a1;
  outline: none;
  border: 0;
  color: white;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }
  .button:hover {
    background-color: #851370;
    transition: all 0.4s; }

.footerText {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px; }

hr {
  border: 1px solid #8c65a1;
  margin-top: 80px; }

/***************************************/
/*****************TEXTO*****************/
.title {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-size: 2em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  text-align: center; }

.subtitle {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
  font-size: 2em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  font-style: italic; }

.subtituloBox {
  font-size: 2em;
  text-transform: uppercase;
  color: #812a71;
  padding-top: 0.4em; }

.parrafo {
  font-size: 1.1em;
  text-transform: lowercase;
  color: black; }
  .parrafo::first-letter {
    text-transform: uppercase; }

.titleFooter {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.6em;
  color: #812a71;
  font-family: 'Playfair Display', serif;
  text-align: center; }

small {
  font-size: 0.9em;
  color: black;
  padding-right: 8px; }

.tituloParrafo {
  font-size: 1.2em;
  font-family: 'Playfair Display', serif;
  color: black;
  text-align: left;
  padding-top: 35px; }

.parrafoFooter {
  font-size: 1em;
  color: black;
  text-align: left; }
  .parrafoFooter:hover {
    text-decoration: none;
    color: black; }

.liFooter {
  text-align: left;
  padding-bottom: 17px; }

/***************************************/
/*****************ICONS*****************/
.list-inline-item {
  font-size: 1.1em;
  padding-left: 8px; }

.bi {
  color: #812a71; }

/***************************************/
/*****************FOOTER****************/
footer {
  background-color: #e1c4ef;
  height: 550px;
  min-height: 100px;
  text-align: center; }

/***************************************/
/**************MEDIA QUERIES************/
@media (max-width: 1280px) and (min-width: 300px) {
  .navLink {
    font-size: 1em; }
  .boxes__subtitulo {
    font-size: 1.5em;
    padding: 0.5em; }
  .boxes__parrafo {
    font-size: 0.9em;
    padding: 0.1em; }
  .d-block {
    min-width: 100vh;
    min-height: 400px; } }

@media screen and (max-width: 768px) {
  .boxes {
    height: auto; }
  .d-block {
    min-width: 100vh;
    min-height: 200px; } }

/***************************************/
.imgText {
  font-size: 3em;
  font-family: 'Playfair Display', serif; }

.images {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.imgBox {
  width: 100vh;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-right: 1px solid white; }

.cafeteria {
  width: 100%;
  height: 100%; }

.hotel {
  width: 100%;
  height: 100%; }

.catering {
  width: 100%;
  height: 100%; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s ease-in-out; }
  .capa:hover {
    transform: scale(1.1);
    background: rgba(0, 0, 0, 0.7); }

/*****************HISTORIA**************/
/*****************MAIN******************/
.main {
  background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)), url("../img/cucuruchoHistoria.jpg");
  background-size: cover;
  width: 100%;
  min-height: 700px; }

/***************************************/
/*****************BOX*******************/
.main__box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%; }

.main__texto {
  width: 30%;
  height: 100%;
  text-align: right; }

.historia {
  width: 100%;
  height: auto; }

/***************************************/
/*****************TEXTO*****************/
.main__titulo {
  padding: 100px 150px 0px 0px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5em; }
  .main__titulo::after {
    position: absolute;
    content: '';
    width: 400px;
    height: 2px;
    background-color: #e1c4ef;
    margin-top: 45px;
    right: 170px; }

.main__parrafo {
  padding: 50px 150px 0px 0px;
  font-size: 3.5em;
  color: white; }

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 1280px) and (min-width: 486px) {
  .main__titulo {
    font-size: 0.7em;
    padding-right: 3rem; }
    .main__titulo::after {
      width: 12.5rem;
      right: 4rem; }
  .main__parrafo {
    font-size: 2.5em;
    text-align: right;
    padding-right: 3rem; }
  .main__texto {
    width: 50%;
    height: auto; }
  .historia__texto {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 10px; } }

@media (max-width: 486px) and (min-width: 320px) {
  .main__titulo {
    font-size: 0.6em;
    padding-right: 0.5rem; }
    .main__titulo::after {
      width: 12rem;
      right: 1.5rem; }
  .main__parrafo {
    font-size: 2em;
    text-align: right;
    padding-right: 0.5rem; }
  .main__texto {
    width: 50%;
    height: auto; }
  .historia__texto {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 10px; } }

/***************************************/
/*****************LOCALES***************/
/*****************MAIN******************/
.mainBox {
  background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)), url("../img/heladoBackground.jpeg");
  background-size: cover;
  width: 100%;
  min-height: 700px; }

/***************************************/
/*****************SECCION***************/
.mapa {
  margin: 100px 0px 100px 0px; }

iframe {
  margin-top: 40px; }

/***************************************/
/*****************TEXTO*****************/
.subtitulo {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #812a71; }

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 1280px) and (min-width: 768px) {
  .subtitulo {
    font-size: 1.6em; }
  .mapa {
    text-align: center;
    margin: 30px 0 30px 0; }
  iframe {
    width: 100%;
    height: 400px; } }

@media (max-width: 768px) and (min-width: 320px) {
  iframe {
    width: 100%;
    height: 300px; } }

@media (max-width: 540px) and (min-height: 320px) {
  .subtitulo {
    font-size: 1.3em; } }

/***************************************/
/*****************CONTACTO**************/
/*****************MAIN******************/
.contactoBox {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(243, 213, 245, 0.7), rgba(243, 213, 245, 0.7)); }

.contacto {
  background-image: linear-gradient(rgba(243, 213, 245, 0.6), rgba(243, 213, 245, 0.6)), url(../img/contacto.jpeg);
  background-size: cover;
  width: 80%;
  height: 100vh; }

form {
  width: 500px;
  margin-top: 20px; }

fieldset {
  border-color: transparent; }

.inputContainer {
  position: relative;
  margin-bottom: 25px; }
  .inputContainer label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    color: black;
    pointer-events: none;
    transition: all 0.5s ease-in-out; }
  .inputContainer input {
    border: 0;
    border-bottom: 1px solid black;
    background: transparent;
    width: 100%;
    padding: 50px 0 5px 0;
    font-size: 18px;
    color: black; }
    .inputContainer input:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid #84589b; }

.btnEnviar {
  background-color: #8c65a1;
  outline: none;
  border: 0;
  color: white;
  padding: 10px 50px;
  text-transform: uppercase;
  margin-top: 30px;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }

.btnEliminar {
  background-color: #4b255e;
  outline: none;
  border: 0;
  color: white;
  padding: 10px 50px;
  text-transform: uppercase;
  margin-top: 30px;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label {
  top: -18px;
  font-size: 18px; }

/***************************************/
/*****************TEXTO*****************/
.titulo {
  padding: 100px 0 30px 0;
  font-size: 3em;
  color: black; }

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 768px) and (min-width: 320px) {
  .titulo {
    font-size: 1.5em;
    padding-top: 10px; }
  form {
    width: 100%;
    height: auto; }
  button {
    margin: 10px;
    font-size: 10px; } }

/***************************************/
