/*pertenece a index.html, productos.html, cafeteria.html, hoteles.html, catering.html, contacto.html*/
.main {
    padding-top: 3rem;
}

/*pertenece a index.html, cafeteria.html, historia.html, hoteles.html, catering.html*/
.description {
    margin-top: 7rem;
}

/*pertence a los banner de todo el sitio*/
.capa-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.slider-box {
    width: 35%;
    text-align: right;
    padding: 2rem 2rem 0 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .slider-box {
        width: 60%;
        padding: 0 1rem 0 0;
    }
}

@media (min-width: 360px) and (max-width: 540px) {
    .slider-box {
        width: 100%;
        padding: 2rem 1rem 0 0;
    }
}

/*pertence a index.html*/
.img-index {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
    border-right: 1px solid white;
}

@media (max-width: 768px) {
    .img-box {
        height: 70%;
    }
}

.boxes {
    height: 32rem;
    background: linear-gradient(180deg, $lighter-violet 50%, $blue-violet 50%);
}

@media (max-width: 768px) {
    .boxes {
        height: auto;
    }
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.texto {
    width: 80%;
    height: 15rem;
    background: $light-violet;
    border-radius: 0.6rem;
    box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    padding: -20px auto 0px auto;
    margin: 20px auto 0px auto;
}

@media (max-width: 1024px) {
    .texto {
        width: 100%;
        height: 20rem;
    }
}

@media (min-width: 360px) and (max-width: 414px) {
    .texto {
        width: 100%;
        height: 17rem;
    }
}

.coments {
    height: 50rem;
    padding-top: 5rem;
}

.carousel-coment {
    padding-top: 2.5rem;
}

.carousel-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.carousel-text {
    width: 100%;
    height: 20rem;
    background: $blue-violet;
    border-radius: 0;
    padding: 1.3rem;
}

@media (max-width: 768px) {
    .carousel-text {
        height: 25rem;
    }
}

@media (min-width: 360px) and (max-width: 540px) {
    .carousel-text {
        width: 90%;
        height: 20rem;
        margin: auto;
    }
}

@media (min-width: 360px) and (max-width: 540px) {
    .hide {
        display: none;
    }
}

/*pertenece a productos.html*/
.images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .images {
        width: 100%;
        height: 700px;
    }
}

@media (min-width: 360px) and (max-width: 540px) {
    .images {
        width: 100%;
        height: 100%;
    }
}

.image-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-right: 1px solid white;
    margin: 0;
}

@media (max-width: 768px) {
    .image-box {
        width: 100%;
        height: 700px;
    }
}

.columna {
    padding: 0;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background: rgba(0, 0, 0, 0.7);
    }
}

/*pertence a catering.html*/
#banner {
    width: 55%;
    height: 100%;
    margin: auto;
    text-align: center;
}

@media (max-width: 1024px) {
    #banner {
        width: 80%;
        height: 100%;
    }
}

/*pertence a historia.html*/
.main-historia {
    width: 100%;
    height: auto;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

@media (min-width: 360px) and (max-width: 540px) {
    #description {
        margin-top: 0;
    }
}

/*pertenece a locales.html*/
.mapa {
    margin: 6rem 0 6rem 0;
}

iframe {
    margin-top: 2.5rem;
    width: 100%;
}

/*pertenece a contacto.html*/
.info-contacto {
    margin-top: 20rem;
    margin-left: 15rem
}

@media (min-width: 360px) and (max-width: 768px) {
    .info-contacto {
        margin-top: 5rem;
        margin-left: 0;
    }
}

.franquicia-info {
    margin-top: 15rem;
}

@media (min-width: 360px) and (max-width: 768px) {
    .franquicia-info {
        margin-top: 0;
        margin-bottom: 5rem;
    }
}

.franquicia-text {
    display: inline-block;
    position: relative;
}

@media (min-width: 360px) and (max-width: 414px) {
    .center {
        text-align: center;
    }
}

/*espacio que se utiliza en varias secciones del sitio*/
.space {
    padding-bottom: 5rem;
}

.space-section {
    padding-top: 2.5rem;
}