$font-contacto: black;

@mixin button ($bgcolor) {
    background-color: $bgcolor;
    outline: none;
    border: 0;
    color: rgb(255, 255, 255);
    padding: 10px 50px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

/*****************CONTACTO**************/
/*****************MAIN******************/
.contactoBox {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(243, 213, 245, 0.7), rgba(243, 213, 245, 0.7));
}

.contacto {
    background-image: linear-gradient(rgba(243, 213, 245, 0.6), rgba(243, 213, 245, 0.6)), url(../img/contacto.jpeg);
    background-size: cover;
    width: 80%;
    height: 100vh;
}

form {
    width: 500px;
    margin-top: 20px;
}

fieldset {
    border-color: transparent;
}

.inputContainer {
    position: relative;
    margin-bottom: 25px;

    label {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 20px;
        color: $font-contacto;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
    }

    input {
        border: 0;
        border-bottom: 1px solid black;
        background: transparent;
        width: 100%;
        padding: 50px 0 5px 0;
        font-size: 18px;
        color: $font-contacto;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #84589b;
        }
    }
}

.btnEnviar {
    @include button(#8c65a1);
}

.btnEliminar {
    @include button(#4b255e);
}

.inputContainer input:focus~label,
.inputContainer input:valid~label {
    top: -18px;
    font-size: 18px;

}

/***************************************/
/*****************TEXTO*****************/
.titulo {
    padding: 100px 0 30px 0;
    font-size: 3em;
    color: $font-contacto;
}

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 768px) and (min-width: 320px) {
    .titulo {
        font-size: 1.5em;
        padding-top: 6rem;
    }

    form {
        width: 100%;
        height: auto;
    }

    .btnEnviar,
    .btnEliminar {
        margin: 10px;
        font-size: 10px;
    }
}

/***************************************/