$light-violet: rgb(225, 196, 239);
$lighter-violet: rgb(244, 234, 249);

/*pertenece a footer de todas las secciones*/
footer {
    background-color: $light-violet;
    width: 100%;
    min-height: 550px;
    text-align: center;
}

/*formulario dentro de footer*/
.form {
    width: 100%;
}

.form-control {
    background-color: $lighter-violet;

    &:focus {
        background-color: $lighter-violet;
        border-color: $strong-violet;
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
    }
}

@media (min-width: 360px) and (max-width: 414px) {
    .form-control {
        margin-bottom: 10px;
    }
}

/*boton formulario*/
.button {
    background-color: #907CE6;
    outline: none;
    border: 0;
    color: $font-white;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    font-size: 1em;

    &:hover {
        background-color: #9B94FC;
        transition: all 0.4s;
    }
}

@media (min-width: 360px) and (max-width: 414px) {
    .button {
        top: 0;
        padding: 6px 16px;
    }
}

/*texto*/
.title-footer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: $size-one;
    color: $color-font;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.titulo-parrafo {
    font-size: 1.2em;
    font-family: 'Playfair Display', serif;
    color: $font-black;
    text-align: left;
    padding-top: 35px;
}

.parrafo-footer {
    font-size: 1em;
    color: $font-black;
    text-align: left;

    &:hover {
        text-decoration: none;
        color: $font-black;
    }
}

/*listas con vículos que redirigen a otras secciones*/
.li-footer {
    text-align: left;
    padding-bottom: 17px;
}

/*línea de separación*/
.border-top {
    border-top: 2px solid #8c65a1 !important;
    margin-top: 70px;
}

/*box para texto e icons*/
.footer-text {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

@media (min-width: 360px) and (max-width: 414px) {
    .footer-text {
        display: flex;
        flex-wrap: wrap;
    }
}

.list-inline-item {
    font-size: 1.1em;
    padding-left: 8px;
    padding-top: 20px;
}

@media (min-width: 360px) and (max-width: 414px) {
    .list-inline {
        margin: auto;
    }
}

/*texto de derechos reservados*/
small {
    font-size: 0.9em;
    color: $font-black;
    padding-right: 8px;
    padding-top: 20px;
}

@media (min-width: 360px) and (max-width: 414px) {
    small {
        margin-bottom: 2rem;
    }
}