/*****************HISTORIA**************/
/*****************BOX*******************/
.banner {
    background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)), url("../img/cucuruchoHistoria.jpg");
    background-size: cover;
    width: 100%;
    min-height: 44rem;
}

.boxBanner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.bannerTexto {
    width: 30%;
    height: 100%;
    text-align: right;
}

.mainHistoria {
    width: 100%;
    height: auto;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.border-left {
    border-left: 2px solid #8c65a1 !important;
}

/***************************************/
/*****************TEXTO*****************/
.bannerTitulo {
    padding: 6rem 9rem 0 0;
    font-size: 0.8em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.5em;

    &::after {
        position: absolute;
        content: '';
        width: 25rem;
        height: 0.1rem;
        background-color: $light-violet;
        margin-top: 3rem;
        right: 10rem;
    }
}

.bannerParrafo {
    padding: 3rem 9rem 0 0;
    font-size: 3.5em;
    color: white;
}

/***************************************/
/************MEDIA QUERIES**************/
@media (max-width: 1024px) {
    .bannerTexto {
        width: 40%;
    }

    .bannerTitulo {
        padding: 2rem 3rem 0 0;

        &::after {
            right: 4rem;
        }
    }

    .bannerParrafo {
        padding: 2rem 3rem 0 0;
    }
}

@media (max-width: 768px) {
    .bannerTexto {
        width: 60%;
    }

    .bannerTitulo {
        padding: 2rem 3rem 0 0;

        &::after {
            right: 4rem;
        }
    }

    .bannerParrafo {
        padding: 1rem 3rem 0 0;
    }
}

@media (max-width: 414px) {
    .bannerTexto {
        width: 70%;
        margin-top: 4rem;
    }

    .bannerTitulo {
        font-size: 0.8em;
        padding: 0.8rem 1rem 0 0;

        &::after {
            right: 2rem;
            width: 15rem;
        }
    }

    .bannerParrafo {
        font-size: 2.5em;
        padding: 1rem 1rem 0 0;
    }

    .border-left {
        border-left: none !important;
    }
}

/***************************************/