/*****************LOCALES***************/
/*****************MAIN******************/
.mainBox {
    background-image: linear-gradient(rgba(12, 12, 12, 0.5), rgba(12, 12, 12, 0.5)), url("../img/heladoBackground.jpeg");
    background-size: cover;
    width: 100%;
    min-height: 44rem;
}

/***************************************/
/*****************SECCION***************/
.mapa {
    margin: 6rem 0 6rem 0;
}

iframe {
    margin-top: 2.5rem;
}

/***************************************/
/*****************TEXTO*****************/
.subtitulo {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.9rem;
    color: $color-font;
}

/***************************************/
/************MEDIA QUERIES**************/
@media(max-width: 1280px) and (min-width: 768px) {
    .subtitulo {
        font-size: 1.6em;
    }

    .mapa {
        text-align: center;
        margin: 1.9rem 0 1.9rem 0;
    }

    iframe {
        width: 100%;
        height: 25rem;
    }
}

@media(max-width: 768px) and (min-width: 320px) {
    iframe {
        width: 100%;
        height: 19rem;
    }
}

@media (max-width: 540px) and (min-height: 320px) {
    .subtitulo {
        font-size: 1.3em;
    }
}

/***************************************/