$strong-violet: #851370;
$light-violet: rgb(225, 196, 239);
$lighter-violet: rgb(244, 234, 249);
$hover: rgb(132, 88, 155);

/*navbar que se mantiene en todas las secciones del sitio*/
nav {
    background-color: $light-violet;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;

    li {
        padding: 1.8rem 1.6rem;
    }
}

/*links que dirigen a las secciones del sitio*/
.nav-link {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -15px;
        margin: -5px 0;
        background-color: $strong-violet;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
    }

    &:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

.nav-link {
    display: flex;
    font-size: $size-2;
    color: $strong-violet;

    &:hover {
        color: $strong-violet;
        text-decoration: none;
        transition: all 0.4s;
    }
}

.link-pedidos {
    display: flex;
    font-size: $size-2;
    color: $font-white;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: #907CE6;

    &:hover {
        color: $font-white;
        text-decoration: none;
        transition: all 0.4s;
        background-color: $blue-violet;
    }
}

/*logo home*/
.logo-brand {
    min-width: 120px;
    max-width: 140px;
}

/*navbar responsive*/
.navbar-toggler {
    font-size: $size-5;

    &:focus {
        outline: none;
    }
}

/*menu desplegable*/
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: $light-violet;
    border: none;
    padding-top: 20px;
}

.dropdown-item {
    font-size: $size-1;
    color: $strong-violet;
    transition: background .25s, box-shadow .15s;

    &:hover {
        background: rgba(188, 128, 218, 0.623);
        color: $strong-violet;
    }
}