$strong-violet: #851370;
$hover: rgb(132, 88, 155);

nav {
    background-color: rgb(239, 223, 248);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;

    li {
        padding: 1.8rem 1.6rem;
    }
}

.nav-link {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -15px;
        margin: -5px 0;
        background-color: $strong-violet;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
    }

    &:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

.nav-link {
    display: flex;
    font-size: 1.2em;
    color: $strong-violet;

    &:hover {
        color: $hover;
        text-decoration: none;
        transition: all 0.4s;
    }
}

.logo-brand {
    min-width: 120px;
    max-width: 140px;
}

.navbar-toggler {
    font-size: 2.5rem;

    &:focus {
        outline: none;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: rgb(239, 223, 248);
    border: none;
    padding-top: 20px;
}

.dropdown-item {
    font-size: 1em;
    color: $strong-violet;
    transition: background .25s, box-shadow .15s;

    &:hover {
        background: rgba(224, 195, 238, 0.623);
        color: $hover;
    }
}