/***************PRODUCTOS***************/
.titleSecondary{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: $color-font;
    font-family: 'Playfair Display', serif;
    text-align: left;
    margin-bottom: 1rem;
}
.subtitleSecondary{
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    color: $color-font;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}


.locales{
    width: 450px;
    height: 700px;
    object-fit: cover;
    margin: auto;
}

.secPrimera{
    padding-top: 4rem;
}

.secSegunda{
    padding-top: 4rem;
    padding-bottom: 5rem;
}
/*****************BOX*******************/
.mainProduc{
    padding-top: 3rem;
}
.descriptionLocales{
    padding-top: 3rem;
}
.images {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox {
    width: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
    border-right: 1px solid white;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background: rgba(0, 0, 0, 0.7);
    }
}

/***************************************/
/*****************TEXTO*****************/
.imgText {
    font-size: 3em;
    font-family: 'Playfair Display', serif;
}

/***************************************/
/****************IMAGES*****************/
.cafeteria,
.hotel,
.catering {
    width: 100%;
    height: 100%;
}

/***************************************/